/**
 * Стили для страницы Return
 */

.return-page {
    flex: 1;
    box-sizing: border-box;
    padding: 40px 120px;
}

@media (max-width: 768px) {
    .return-page {
        padding: 24px 16px;
    }
}

