/**
 * Стили для страницы About
 */

.about-page {
    flex: 1;
    box-sizing: border-box;
    padding: 40px 120px;
}

@media (max-width: 768px) {
    .about-page {
        padding: 24px 16px;
    }
}

