/**
 * Стили для компонента Brand
 */

.brand-content {
    flex: 1;
    padding: 500px 120px;
    background-image: url('../../images/87168176238132.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}