.myBackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.whiteBox{
    background-color: white;
    padding: 20px;
    min-width: 300px;
    height: 57%;
    width: 25%;
    border: 1px solid #333;
}

.itemBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.title{
    font-size: 30px;
    color: #333;
}

.myForm,
.myButton{
    width: 100%;
}

.myButton{
    background: rgb(66, 8, 160) ! important;
}
